<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.slwh.emr.mapper.LevelMapper" >
  <resultMap id="BaseResultMap" type="com.slwh.emr.model.Level" >
    <id column="l_id" property="lId" jdbcType="INTEGER" />
    <result column="l_level" property="lLevel" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    l_id, l_level
  </sql>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from emr_level
    where l_id = #{lId,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from emr_level
    where l_id = #{lId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.slwh.emr.model.Level" >
    insert into emr_level (l_id, l_level)
    values (#{lId,jdbcType=INTEGER}, #{lLevel,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.slwh.emr.model.Level" >
    insert into emr_level
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lId != null" >
        l_id,
      </if>
      <if test="lLevel != null" >
        l_level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lId != null" >
        #{lId,jdbcType=INTEGER},
      </if>
      <if test="lLevel != null" >
        #{lLevel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByIdSelective" parameterType="com.slwh.emr.model.Level" >
    update emr_level
    <set >
      <if test="lLevel != null" >
        l_level = #{lLevel,jdbcType=VARCHAR},
      </if>
    </set>
    where l_id = #{lId,jdbcType=INTEGER}
  </update>
  <update id="updateById" parameterType="com.slwh.emr.model.Level" >
    update emr_level
    set l_level = #{lLevel,jdbcType=VARCHAR}
    where l_id = #{lId,jdbcType=INTEGER}
  </update>
  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from emr_level
  </select>
</mapper>